
        body {
          margin: 0;
          font-family: "Lato", sans-serif;
        }
        .img{
            width: 47%;
            border-radius: 74px;
        }
        .head{
            padding-top: 11%;
        }
        .side{
            padding-left: 15%;
        }
        
        .sidebar {
          margin: 0;
          padding: 0;
          width: 200px;
          background-color:blueviolet;
          position: fixed;
          height: 100%;
          overflow: auto;
        }
        
        .sidebar a {
          display: block;
          color: black;
          padding: 16px;
          text-decoration: none;
        }
         
        .sidebar a.active {
         
          color: white;
        }
        
        .sidebar a:hover:not(.active) {
          background-color: #555;
          color: white;
        }
        
        div.content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }
    
        .red{
          height:4px;
          color: gray;
          padding-left: 1;
          padding-left: 67%;
          margin-top: 59px;
          margin-left: 21px;
        }
        .arrow{
          margin-top: 50px;
          margin-left: 31px;
        }
       .logo{
           padding-left: 10%;
           border-radius: 148px;
        }
       .your{
         margin-right:81px ;
       }
       .font{
        font-size: 33px!important;
       }
       .left{
        margin-left: 35%;
       }
       .rel{
        padding-left: 13%;
      
       }
       .not{
        margin-left: 43px;
       }
       .gir{
         width: 88%;
         height: 110px;
       }
       .mus{
        width: 7%;
        height: 63px;
        margin-top: 29px;
        margin-left: 14px;
       }
     
        .header {
            overflow: hidden;
            background-color:lightcoral;
            padding: 20px 10px;
          }
          
          .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px; 
            line-height: 25px;
           
          }
          
          .header a.logo {
            font-size: 25px;
            font-weight: bold;
          }
          
          .header a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .header a.active {
            background-color: dodgerblue;
            color: white;
          }
          
          .header-right {
            float: right;
          }
          
          @media screen and (max-width: 500px) {
            .header a {
              float: none;
              display: block;
              text-align: left;
            }
            
            .header-right {
              float: none;
            }
          }











        @media screen and (max-width: 700px) {
          .sidebar {
            width: 100%;
            height: auto;
            position: relative;
          }
          .sidebar a {float: left;}
          div.content {margin-left: 0;}
        }
        
        @media screen and (max-width: 400px) {
          .sidebar a {
            text-align: center;
            float: none;
          }
        }
        @media screen and (max-width: 320px) {
          .gir{
            width: 189%;
             height: 214px;
          }
             .pra{
              font-size: 2rem;
              margin-left: 10rem;
             }
             .your{
               margin-right: 0px;
             }
             .left{
               margin-left: 0px;
             }
             .sidebar{
               width: 189%;
             }
             .img{
               border-radius: 158px;
             }
             .bob{
               font-size: 2rem;
             }
             .dis{
               font-size: 2rem;
             }
             .head{
               padding-top: 6%;
             }
             .side{
               margin-left: 19%;
               font-size: 2rem;
             }
             .bar{
               width: 189%;

             }
             .logo{
              padding-left: 29%;
              border-radius: 158px;
             }
             .header-right{
               margin-left: 29%;
             }


          }
        
    